body, html {
    height: 100%;
    margin: 0;
  }
  
  .hero-image {
    background-image: url("https://cloud-kmj79xdx5.vercel.app/0gradientbg.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }
  
  /* .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  } */

  .about-pace {
      padding-top: 2rem;
      padding-bottom: 1rem;
  }