.video-group {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.btn-group {
    display: block;
    margin: 0 auto;
    justify-content: center;
}

#spotify {
    margin: 0 auto;
    display: block; 
    width: 50%;
}

.prompts-list {
    font-family: 'Balsamiq Sans', cursive; 
}

/* backgrounds */
#walking {
    background-color: #b7e8ff;
    padding: 2rem;
}

#journal {
    padding: 2rem;
    background-color: #f3c7ffe1; 
}

#draw {
    padding: 2rem;
    background-color: #ccffb5;  
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}
